/*
 * site.css
 * Create by Einstein Lab.
 * hello@einstein-studio.ru
 */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,700,700i&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #424242;
    margin: 0;
    line-height: 1.9;
}

p {
    color: #424242;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.9;
}
.soc-footer {
    text-align: center;
}
.ya-share2 {margin-bottom: 15px;}
.w {
    color: #275688;
    font-family: 'Merriweather', serif;
    line-height: 30px;
}
.readm {
    margin-left: 24px;
}
.readmore {
    background-color: #ffce54;
    color: #424242;
}
.warning {
    border-bottom: 2px solid red;
}
.fa, .fas {
    font-weight: 900;
    color: #275688;
}
.navbar-toggler {
    padding: .25rem .5rem;
    font-size: 2rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    position: relative;
    left: 14px;
}
.soc {
    position: relative;
    right: -45px;
}
.vk {
    right: -55px;
}
h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: #43ac3e;
    margin-bottom: 22px;
    border-left: 5px solid #c33;
    padding-left: 25px;
    letter-spacing: 3px;
}
.btn {
    color: #424242;
    background: #ffce54;
    border: 2px solid #ffce54;
}
.btn:hover {
    color: #212529;
    text-decoration: none;
    border: 2px solid #c33;
}
.nav {
    list-style: none;
    font-size: 1rem;
    text-transform: uppercase;
}
img.exp {
    margin-right: 15px;
}
article {
    margin-bottom: 24px;
    border-bottom: 2px solid #275688;
    padding-bottom: 24px;
}
.h4, h4 {
    font-size: 1rem;
    padding-bottom: 15px;
}
a {
    color: #424242;
}
.dropdown-menu {
    background-color: rgba(255, 255, 255, 0.81);
    border: none;
}
.strong-view.modern .testimonial-content {
    font-size: 1em!important;
    font-style: italic;
    text-align: justify!important;
}
.strong-view.modern .testimonial-company {
    font-size: 0.84em !important;
    font-style: italic;
}
.strong-view.modern .testimonial-content::after {
    bottom: -35px!important;
}
header {
    padding: 30px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    background: #ffffff8c;
}
footer {

    background: #43ac3e;
    padding: 10px 0px 0px 0px;

}
.navbar {
    padding: 12px 86px 12px;
    background-color: #ffce54;
    box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.18);
}
footer p {
    color: #275688;
    text-align: center;
}
.login {

}
.no-p-m {
    margin: 0;
    padding: 0;
}
.info{
    color: #ffffff;
    position: relative;
    top: -2px;
    font-size: 1.25rem;
}
.info small {
    font-size: .75rem;
    font-weight: 600;
}
.home {

}
.bg {

}
.name {
    color: #fff;
}
h2 {
    font-size: 4rem;
    text-transform: uppercase;
}
.name h2 {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: -10%;
    text-shadow: 1px 1px 2px #424242;
}
.name p {
    text-shadow: 1px 1px 2px #424242;
    color: #ffffff;
    font-weight: 900;
    text-transform: uppercase;
}
.author {
    font-weight: 400;
}
.text-center {
    text-align: center;
}

.name small {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
}
small {
    display: block;
    color: #424242;
}
.wh {
    color:#fff!important;
}
.start{
    height: 100vh;
    padding-top: 102px;
    z-index: 998;
    background-image: url("/img/s1200.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
iframe{
border: 0;
}
.start-nab{
    height: 75vh;
    padding-top: 102px;
    z-index: 998;
    background-image: url("/img/2.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.min-img {
    margin-top: 10%;
}
.start-right {
    height: 100vh;
    background-color: #aae0fc;
    padding-top: 102px;
    z-index: 998;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bg-right {
    background-image: url("/assets/img/bg-r.png");
    background-repeat: repeat-y;
    background-size: 9.1%;
    background-position: right;
}
.bg-left {
    background-image: url("/assets/img/bg_l.png");
    background-repeat: repeat-y;
    background-size: 9.1%;
    background-position: left;
}
.bg-blue {
    background-color: #65a7d0;
}
.bg-gor {
    background-image: url("/img/pattern-gor.png");
    background-repeat: repeat-y;
    background-size: 9.1%;
    background-position: right;
}
.about-title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5rem;
}
.about-title small {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
}
.btn-success {
    color: #fff;
    border-color: #c33;
}
.btn-success:hover {
    color: #fff!important;
    background-color: #c33;
    border-color: initial;
}
.logo-text {
    text-transform: uppercase;
    font-weight: bold;
    color: #c33;
}
.catalog {
    padding: 20px 0;
}
.btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show>.btn-success.dropdown-toggle {
color: #fff;
background-color: #c33;
border-color: #c33;
}
.idea{
    text-align: center;
    background-color: transparent;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: .5rem;
    padding-left: .5rem;
    font-style: normal;
    font-weight: 600;
    font-size: .75rem;
    line-height: 24px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #424242;
    text-decoration: none;
    margin-left: 24px;
    margin-right: 24px;
    border: 2px solid #c33;
}
a:hover {
    color: #003064;
    text-decoration: underline;
}
.justify-content-end{
    -ms-flex-pack: end !important;
    justify-content: flex-end;
    left: -7px;
}
.justify-content-space-between{
    -ms-flex-pack: center !important;
    justify-content: start;
}
.content {
    color: #424242;
}
section {
    padding: 42px 142px 42px 142px;
}
.p-0 {
    padding: 0;
}
.p-t-0 {
    padding-top: 0;
}
.map {
}
.m-l-15 {
    margin-left: 15%;
}
.autor {
    padding-right: 50px;
    font-style: italic;
    text-align: right;
}
.navbar {
    justify-content: flex-start;
}
.mob {
    display: none;
}
.mayor {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 24px;
    border-radius: 4px;
}
.mayor-name {
    font-weight: 400;
    text-align: right;
    padding-right: 24px;
}

.strong-view.modern .testimonial-company {
    font-size: 0.84em !important;
    font-style: italic!important;
    display: inline-block!important;
}
.strong-view.modern .testimonial-image img {
    width: 80px!important;
    height: 80px!important;
    border-radius: 50px!important;
    margin-right: 25px!important;
    position: relative!important;
    top: -15px!important;
}
.strong-view.modern .testimonial-name {
    font-size: 1em!important;
    font-weight: 300!important;
    padding-right: 10px!important;
    font-style: italic!important;
    /*display: inline-block!important;*/
}
#pattern {
    background-image: url("/img/patt2.png");
    background-repeat: repeat-x;
    background-position-y: bottom;
    padding-bottom: 24px;
    background-size: 7%;
    padding-top: 0;
    margin-top: 0;
    position: relative;
    top: -2px;
    height: 45px;
    opacity: .5;
}
@media (min-width: 320px) {
    .p-102 {
        padding: 10px;
    }
    .name h2 {
        font-size: 1.7rem;
        text-transform: uppercase;
        font-weight: 500;
        margin-top: -10%;
        text-shadow: 1px 1px 2px #424242;
        color: #ffffff;
        font-family: 'Merriweather', serif;
        letter-spacing: 3px;
    }
    h2 {
        font-size: 2rem;
        text-transform: uppercase;
        color: #43ac3e;
    }
    .mob {
        display: block;
    }
    .mob-none {
        display: none;
    }
    .idea-mob {
        padding: 10px 20px 10px;
        color: #ffffff;
        font-size: .7rem;
        line-height: 25px;
        font-family: 'Merriweather', serif;
        text-align: center;
        background-color: #43ac3e;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 2px;
        text-transform: uppercase;
    }
    section {
        padding: 15px;
    }
    h1 {
        font-size: 1.6rem;
    }
}

@media (min-width: 768px) {
    .p-102 {
        padding: 42px 142px 42px 142px;
    }
    .name h2 {
        font-size: 4rem;
        text-transform: uppercase;
        font-weight: 500;
        margin-top: -10%;
        text-shadow: 1px 1px 2px #424242;
        color: #ffffff;
        font-family: 'Merriweather', serif;
    }
    h2 {
        font-size: 3rem;
        text-transform: uppercase;
        color: #43ac3e;
    }
    .mob {
        display: none;
    }
    .mob-none {
        display: inherit;
    }
    section {
        padding: 42px 142px 42px 142px;
    }
    h1 {
        font-size: 3rem;
    }
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

hr {
    margin: 10px 0px;
    padding: 0px;
    border-top: 0px;
    border-bottom: 1px solid #eee;
}
:focus {
    outline:none;
}
::-moz-focus-inner {
    border:0;
}
/* Background color classes */
.bg-white {
    background-color: #ffffff !important;
}
.bg-grey {
    background-color: #eeeeee !important;
}
.bg-black {
    background-color: #555555 !important;
}
.bg-red {
    background-color: #f75353 !important;
}
.bg-green {
    background-color: #51d466 !important;
}
.bg-lblue {
    background-color: #32c8de !important;
}
.bg-blue {
    background-color: #609cec !important;
}
.bg-orange {
    background-color: #f78153 !important;
}
.bg-yellow {
    background-color: #fcd419 !important;
}
.bg-purple {
    background-color: #cb79e6 !important;
}
.bg-rose {
    background-color: #ff61e7 !important;
}
.bg-brown {
    background-color: #d08166 !important;
}
/* Border color classes */
.br-white {
    border: 1px solid #ffffff !important;
}
.br-grey {
    border: 1px solid #eeeeee;
}
.br-black {
    border: 1px solid #555555;
}
.br-red {
    border: 1px solid #f75353;
}
.br-green {
    border: 1px solid #51d466;
}
.br-lblue {
    border: 1px solid #32c8de;
}
.br-blue {
    border: 1px solid #609cec;
}
.br-orange {
    border: 1px solid #f78153;
}
.br-yellow {
    border: 1px solid #fcd419;
}
.br-purple {
    border: 1px solid #cb79e6;
}
.br-rose {
    border: 1px solid #ff61e7;
}
.br-brown {
    border: 1px solid #d08166;
}
/* Button classes */
.btn {
    border-radius: 2px;
    position: relative;
}
.btn.btn-no-border {
    border: 0px !important;
}

/* Label */
.label {
    border-radius: 2px;
    font-weight: normal;
    padding: 3px 7px;
    font-size: 12px;
    line-height: 18px;
}
/* Label sizes */
.label.label-xs {
    font-size: 10px;
    padding: 1px 5px;
    line-height: 12px;
}
.label.label-sm {
    font-size: 11px;
    padding: 2px 6px;
    line-height: 15px;
}
.label.label-lg {
    font-size: 13px;
    padding: 5px 9px;
    line-height: 23px;
}
/* Label colors */
.label.label-white{
    color: #666666 !important;
    background: #f7f7f7;
}
.label.label-grey {
    color: #666666 !important;
    background: #eeeeee;
}
.label.label-black {
    color: #ffffff;
    background: #666666;
}
.label.label-red {
    color: #ffffff;
    background: #ed5441;
}
.label.label-green {
    color: #ffffff;
    background: #51d466;
}
.label.label-lblue {
    color: #ffffff;
    background: #32c8de;
}
.label.label-blue {
    color: #ffffff;
    background: #609cec;
}
.label.label-orange {
    color: #ffffff;
    background: #f8a841;
}
.label.label-yellow {
    background: #fcd419;
    color: #ffffff;
}
.label.label-purple {
    background: #cb79e6;
    color: #ffffff;
}
.label.label-rose {
    background: #ff61e7;
    color: #ffffff;
}
.label.label-brown {
    background: #d08166;
    color: #ffffff;
}
/* Badges */
.badge {
    min-width: 10px;
    padding: 3px 7px !important;
    font-size: 12px;
    line-height: 12px;
    font-weight: normal;
    display: inline-block;
    color: #fff;
    border-radius: 10px;
}
.badge.badge-white {
    color: #666666;
    background: #ffffff;
}
.badge.badge-grey {
    color: #a2a2a2;
    background: #eeeeee;
}
.badge.badge-black {
    color: #ffffff;
    background: #666666;
}
.badge.badge-red {
    color: #ffffff;
    background: #ed5441;
}
.badge.badge-green {
    color: #ffffff;
    background: #51d466;
}
.badge.badge-lblue {
    color: #ffffff;
    background: #32c8de;
}
.badge.badge-blue {
    color: #ffffff;
    background: #609cec;
}
.badge.badge-orange {
    color: #ffffff;
    background: #f8a841;
}
.badge.badge-yellow {
    color: #ffffff;
    background: #fcd419;
}
.badge.badge-purple {
    color: #ffffff;
    background: #cb79e6;
}
.badge.badge-rose {
    color: #ffffff;
    background: #ff61e7;
}
.badge.badge-brown {
    color: #ffffff;
    background: #d08166;
}
.btn .badge {
    position: absolute;
    top: -13px;
    right: -8px;
}
.trabl_btn {
    width: 100%;
    border-color: #ffce54;
    color: #424242;
}
.trabl_btn:hover {
    background-color: #ffce54;
    border-color: #424242;
    color: #424242;
}
/* Social Media */
.facebook { background: #3280e7; }
.facebook:hover { background: #134fa0; }
.twitter { background: #32c8de;}
.twitter:hover {    background: #188392;}
.google-plus {background: #f96f4a;}
.google-plus:hover {    background: #eb6440;}
.linkedin  {    background: #729fda;}
.linkedin:hover {background: #3069b6;}
.pinterest {    background: #ed5441;}
.pinterest:hover { background: #b72411;}
.dropbox {background: #32c8de;}
.dropbox:hover {    background: #188392;}
.bitcoin {background: #f8a841;}
.bitcoin:hover {    background: #cc7607;}
.foursquare {background: #22bed4;}
.foursquare:hover {background: #146f7c;}
.flickr { background: #ff61e7;}
.flickr:hover { background: #fa00d4;}
.github {background: #666666;}
.github:hover { background: #333333;}
.instagram {    background: #d6917a;}
.instagram:hover {background: #b35637;}
.skype {background: #32c8de;}
.skype:hover {background: #188392;}
.tumblr {background: #84a1c8;}
.tumblr:hover {background: #476d9f;}
.vimeo {background: #32c8de;}
.vimeo:hover {background: #188392;}
.dribbble{background: #ff2edf;}
.dribbble:hover {background: #c700a9;}
.youtube {background: #ed5441;}
.youtube:hover {    background: #b72411;}
/* Ui X */
.ui-15{
    padding:0px 10px;
}
/* Ui Content */
.ui-15 .ui-content{
    max-width:700px;
    margin:30px auto;
    background:#fff;
    border:1px solid #ddd;
    border-radius:4px;
    box-shadow:5px 5px 0px 1px rgba(0,0,0,0.05);
}
@media (max-width:767px){
    .ui-15 .ui-content{
        max-width:400px;
    }
}
.ui-15 .ui-content .ui-padd{
    padding:0px;
}
/* Ui social */
.ui-15 .ui-content .ui-social{
    padding:25px 30px;
    border-left:1px solid #eee;
    color:#999;
}
@media (max-width:767px){
    .ui-15 .ui-content .ui-social{
        border:0px;
        border-top:1px solid #eee;
    }
}
/* Heading */
.ui-15  h2{
    font-size:14px;
    text-transform:uppercase;
}
.ui-15 .ui-social ul li{
    margin:15px 0px;
}
/* Button */
.ui-15 .ui-social ul li a{
    width:100%;
    display:block;
    color:#fff;
    font-size:14px;
    border-radius:3px;
    padding:5px 10px;
}
/* Icon*/
.ui-15 .ui-social ul li > a > i{
    width:25px;
    text-align:center;
}
/* UI form */
.ui-15 .ui-content .ui-form{
    padding:25px 30px;
}
/* UI Input */
.ui-15 .ui-form .ui-input{
    position: relative;
    width: 100%;
    margin:15px 0px;
}
.ui-15 .ui-form .form-control{
    height:40px;
}
/* UI Icon */
.ui-15 .ui-form .ui-icon{
    right:4px;
    top: 0;
    font-size:14px;
    width: 30px;
    color: #ddd;
    line-height:40px;
    position: absolute;
    text-align: center;
}
.carousel-indicators li {
    background-color: #424242;
}
.carousel-indicators {
    bottom: -80px;

}


@media (min-width: 768px) {
    .navbar-container {
        position: sticky;
        top: 0;
        overflow-y: auto;
        height: 100vh;
    }
    .navbar-container .navbar {
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: nowrap;
        flex-direction: column;
        height: 100%;
    }
    .navbar-container .navbar-collapse {
        align-items: flex-start;
    }
    .navbar-container .nav {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .navbar-container .navbar-nav {
        flex-direction: column !important;
    }
}
.box{
    position:absolute;
    top:-1200px;
    width:100%;
    color:#fff;
    margin:auto;
    padding:0px;
    z-index:999999;
    text-align:right;
    left:0;
}
a.boxclose{
    cursor: pointer;
    text-align: center;
    display: block;
    position: absolute;
    top: 46px;
    right: 320px;
}
.menu_box_list {
    display: inline-block;
    float: right;
    margin-right: 35em;
}
.menu_box_list ul li {
    display:inline-block;
}
.menu_box_list li a{
    color: #fff;
    font-size: 1.2em;
    font-weight:400;
    display: block;
    padding:0.5em 0.5em;
    text-decoration:none;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    letter-spacing: 0.1em;
}
.menu_box_list li a:hover,.menu_box_list ul li.active a{
    color:#E74C3C;
}
.menu_box_list ul {
    background:transparent;
    padding:50px;
}
.menu_box_list li a > i > img{
    vertical-align:middle;
    padding-right:10px;
}
@media (max-width:1280px){
    a.boxclose {
        right: 190px;
    }
    .menu_box_list {
        margin-right: 25em;
    }
}
@media (max-width:1024px){
    a.boxclose {
        right: 104px;
    }
    .menu_box_list {
        margin-right: 14em;
    }
}
@media (max-width:768px){
    .menu_box_list {
        margin-right: 3em;
    }
    a.boxclose {
        right: 28px;
        top:18px;
    }
    .menu_box_list ul li {
        display:block;
    }
    .menu_box_list ul {
        background:transparent;
        padding:1em 20em;
        margin:28px 0px;
        text-align:center;
    }
}
@media (max-width:640px){
    .menu_box_list ul {
        padding: 1em 15em;
    }
}
@media (max-width:480px){
    .menu_box_list ul {
        padding: 1em 9.5em;
    }
}
@media (max-width:320px){
    a.boxclose {
        right: 15px;
        top: 4px;
    }
    .menu_box_list ul {
        padding: 0em 5.2em;
        margin: 14px 0px;
    }
    .menu_box_list li a {
        padding: 0.4em 0.5em;
    }
    .menu_box_list {
        margin-right: 1em;
    }
}
a {
    outline: none;
}
.navbar-expand .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
    font-style: normal;
    font-weight: 600;
    font-size: .75rem;
    line-height: 24px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #424242;
    text-decoration: none;
}
.header {
    background: #ffffff8c;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 2;
    box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.18);
}

.header ul {
    height: 100%;
    padding: 20px 0 10px 0;
}

.header ul li {
    list-style: none;
    display: inline-block;
    margin-right: 40px;
}

.header ul li.active {
    border-bottom: 2px solid #ffce54;
}

.header ul li a {
    color: #424242;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

.header ul li a:hover {
    text-decoration: none;
}

.header ul li.float-right {
    margin-top: 5px;
}

.header .btn {
    color: #424242;
}
.info_area {
    text-align: center;
    font-weight: 400;
    font-style: italic;
    color: #424242;
    width: 70%;
    padding: 24px;
    border: 2px solid #c33;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 52px; 
}
.slider {
    background: url('/assets/images/start_bg.jpg');
    background-size: cover;
    width: 100%;
    height: calc(66vh - 60px);
}
.news {
    background-color: #ffce54;
    padding: 83px;
}
.news_home {
    padding: 24px;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 4px;
    box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.18);
}
.users {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
}
.icon {
    flex-shrink: 0;
    width: 52px;
    height: 52px;
}
.slider-50 {
    height: calc(50vh - 60px);
    background: url('/assets/images/start_bg.jpg');
    background-size: cover;
    width: 100%;
}
.start-info {
    padding-bottom: 82px;
}Атрибут стиля {
}
.left-info {
    width: 100%;
    background: rgba(255, 206, 84, 0.75);
    border-radius: 4px;
    padding: 27px 24px 22px;
    box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.18);
    color: #424242;
}
.right-info {
    width: 100%;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 4px;
    padding: 27px 24px 22px;
    box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.18);
    color: #424242;
    margin-top: 9vh;
}
.right-info p {
    color: #424242;
}
.right-info button {
    color: #424242;
    background-color: #ffce54;
}
.slider .title {
    font-size: 1.9rem;
    text-transform: uppercase;
    font-weight: 500;
    text-shadow: 1px 1px 2px #424242;
    color: #ffffff;
    letter-spacing: 3px;
    text-align: left;
    font-family: 'Roboto', sans-serif !important;

}

.slider .subtitle {
    text-shadow: 1px 1px 2px #424242;
    color: #ffffff;
    font-weight: 900;
    text-transform: uppercase;
    text-align: left;
    font-family: 'Roboto', sans-serif !important;
}

.content {
    margin-top: 40px;
    font-family: 'Roboto', sans-serif !important;
    margin-bottom: 40px;
}
img {
    width: 100%;
    height: auto;
}
.content h1 {
    font-size: 2rem;
    text-transform: uppercase;
    color: #424242;
    margin-bottom: 22px;
    border-left: 5px solid #ffce54;
    padding-left: 10px;
    letter-spacing: 0px;
    font-family: 'Roboto', sans-serif !important;
}
.small-pr-item__desc {
    text-align: center;
    font-weight: 500;
}
.content h3 {
    font-size: 2rem;
    text-transform: uppercase;
    color: #424242;
    margin-bottom: 22px;
    border-left: 4px solid #c33;
    padding-left: 12px;
    letter-spacing: 3px;
}
.news_list {
    margin-bottom: 36px;
    border-bottom: 4px solid #424242;
    padding-bottom: 36px;
}
.uSocial-Share {
    left: 13px;

position: relative;
}
.circle {
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-weight: bold;
    font-size: 21px;
    line-height: 24px;
    text-align: center;
    color: #424242;
    background: #ffce54;
    border-radius: 50%;
    margin: 0 auto;
}
.small-pr-item__number {
    position: relative;
    width: 100%;
    margin-bottom: 22px;
}
.small-pr-items .col-12:not(:first-child) .small-pr-item__number:before {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    right: 100%;
    top: 50%;
    display: block;
    background: #ffce54;
    -webkit-transform: translate(calc(50% - 20px));
    transform: translate(calc(50% - 20px));
}
.block-empty {
    background: url("/assets/images/patt2.png");
    background-repeat: repeat-x;
    background-position-y: bottom;
    background-size: 7%;
    height: 45px;
}
.footer p {
    font-size: .7rem;
    margin-bottom: 0;
}
.footer a {
    color: #424242;
    text-decoration: underline;
}
.news a {
    text-decoration: none;
}

.map {
    height: 50vh;
}

.footer {
    padding: 30px;
    background: #ffce54;
}

.footer .row div {

    color: #424242;
}
.logo-img-footer {
    width: 48px!important;
    float: left;
    padding-right: 7px;
    position: relative;
    top: 4px;
}
.modal .modal-body, .modal textarea, .modal select, .modal input {
    font-size: 12px;
}

#mapModal .custom-file-input ~ .custom-file-label::after {
    content: "Выбрать";
}

#registerModal button, #html_element div:first-child, #authModal button, #html_element2 div:first-child {
    margin: 0 auto;
    display: block;
}
.no-m {
    padding-right: initial;
padding-left: initial;
}
.bg-dark {
    background-color: #ffce54 !important;
}
.instructionMap {
    position: absolute;
    bottom: -1200px;
    background: #fff;
    color: #000;
    z-index: 99;
    padding: 10px;
}

.trabl {
   
}

.trabl-one {
  
    display: inline-block;
}

.trabl-one img {
    width: auto!important;
    height: auto!important;
    max-width: 100%;
    max-height: 300px;
}

.trabl:hover {
    cursor: pointer;
}

.trabl .status {
    position: absolute;
    top: 10px;
    left: 25px;
    background: #ffce54;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.18);
    padding: 3px 10px;
    font-weight: 600;
    font-size: .75rem;
    line-height: 24px;
    letter-spacing: 0.12em;
}
.trabl .status_one {
    position: absolute;
    top: 55px;
    left: 25px;
    background: #ffce54;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.18);
    padding: 3px 10px;
    font-weight: 600;
    font-size: .75rem;
    line-height: 24px;
    letter-spacing: 0.12em;
}
.cat {
    padding-top: 24px;
}
.h3, h3 {
font-size: 1.25rem;
}
.trabl img {

}

.trabl .like {
    padding: 10px 0 5px;
}

.trabl .like div {
    display: inline-block;
    color: #024EB0;
    margin-right: 10px;
}

.trabl .like div:hover * {
    opacity: 0.7;
}

.trabl .like div span {
    font-size: 1rem;
    color: #424242;
}

.trabl .like .fail svg {
    transform: rotate(180deg);
}

.trabl .like .fail span {
    position: relative;
    top: 0px;
}
.auth {
    position: relative;
top: 4px;
}
.trabl .info, .trabl .info span {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.6);
}

.trabl .addressico {
    padding: 5px 0;
    font-size: 1rem;
    color: #2d2d2d;
    font-weight: 400;
}
a.trabl_a {
    color: #424242;
}
.trabl .addressico svg {
    color: #024EB0;
    top: -2px;
    position: relative;
}

.trabl .text {
    font-size: 14px;
    padding-bottom: 20px;
}

.trabl a {
    text-decoration: none;
}

.comment {
    background: #fff;
    box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.18);
    margin-bottom: 15px;
    padding: 20px 20px 10px 20px;
}

.comment .title, .comment .title span {
    font-size: 14px;
    color: #CDCDCD;
}

.news-one * {
    max-width: 100%;
}
.user {
    position: absolute;
    top: 10px;
    list-style: none;
}
@media (min-width: 324px) { 
    .m-n {display: none;}
    .right-info {
        margin-top: 3vh;
        padding: 16px;
    }
    .small-pr-items .col-12:not(:first-child) .small-pr-item__number::before {
        display: none;
    }
    .small-pr-item__desc {
        margin-bottom: 30px;
    }
    .news {
        padding: 16px;
    }
    .news_home {
        margin-bottom: 16px;
    }
    .content h1 {
        font-size: 1.5rem;
    }
    .block-empty {
        height: 26px;
        box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.18);
    }
    .mobile-menu {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 16px;
        top: 0;
        left: 0;
        right: 0;
        height: 50px;
        z-index: 2;
        background: #ffce54;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.18);
    }
    .mobile-menu__btn {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 30px;
        cursor: pointer;
        transition: .4s;
        top: 10px;
        right: 15px;
    }
    .mobile-menu__icon {
      display: block;
      position: relative;
      background: #424242;
      width: 90%;
      height: 4px;
      transition: .4s;
    }
    .mobile-menu__icon::after, .mobile-menu__icon::before {
      content: "";
      display: block;
      position: absolute;
      background: #424242;
      width: 100%;
      height: 4px;
      transition: .4s;
    }
    .mobile-menu__icon::after {
      top: 8px;
    }
    .mobile-menu__icon::before {
      top: -8px;
    }
    .mobile-menu__container {
      position: fixed;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 50px;
      left: 0;
      right: 0;
      z-index: 999;
      height: 0;
      opacity: 1;
      transition: .5s;
      overflow: hidden;
      background-color: #ffce54;
      border-top: 2px solid #c33;
    }
    .mobile-menu__list {
      transition: .5s;
      list-style: none;
      padding-left: 0;
      margin-top: -50px;
    }
    .mobile-menu__item {
      font-size: 26px;
      padding-bottom: 15px;
    }
    .mobile-menu__link {
      text-decoration: none;
      color: #fff;
    }
    .mobile-menu__checkbox {
      display: none;
    }
    .mobile-menu__checkbox:checked ~ .mobile-menu__nav {
      opacity: 1;
    }
    .mobile-menu__checkbox:checked ~ .mobile-menu__container {
      height: 100%;
    }
    .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon {
      background: transparent;
    }
    .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before, .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
      top: 0;
    }
    .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }
    .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
    .content h3 {
        font-size: 1.2rem;
        text-transform: uppercase;
        color: #424242;
        margin-bottom: 22px;
        border-left: 4px solid #c33;
        padding-left: 12px;
        letter-spacing: 3px;
    }
    .desktop_menu {
        display: none;
    }
    .slider {
        margin-top: 52px;
    }
    .slider {
        height: calc(75vh - 60px);
    }
    .news-one {
        margin-top: 82px;
    }
}
@media (min-width: 576px) { 
    .m-n {display: none;}
    .mobile-menu__item {
        font-size: 1rem;
        padding-bottom: 0;
    }
    .slider {
        height: calc(112vh - 60px);
    }
    .d-n {
        display: none;
    }
    .right-info {
        margin-top: 9vh;
        padding: 19px 24px 22px;
    }
    .small-pr-items .col-12:not(:first-child) .small-pr-item__number::before {
        display: block;
    }
    .small-pr-item__desc {
        margin-bottom: initial;
    }
    .news {
        padding: 83px;
    }
    .news_home {
        margin-bottom: initial;
    }
    .content h1 {
        font-size: 2rem;
    }
    .block-empty {
        height: 45px;
    }
    .content h3 {
        font-size: 2rem;
    }
}

@media (min-width: 768px) {
    .m-n {display: block;}

}

@media (min-width: 992px) {
    .m-n {display: block;}
}

@media (min-width: 1200px) {
    .m-n {display: block;}
    .desktop_menu {
        display: -ms-flexbox;
        display: flex;
    }
    .slider {
        margin-top: initial;
    }
    .slider {
        height: calc(66vh - 60px);
    }
}

* {
 margin: 0;
 padding: 0;
}

#cont {
 width: 100%;
 position: fixed;
 top: 0;
 bottom: 0;
 height: 2px;
 z-index: 9999;
}

#progress {
 background: #c33333;
 width: 0%;
 height: 2px;
}
img.lazy {
    display: block;
}
.video {
  position: relative;
  padding-bottom: 56.25%; /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}